<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMINCSS__/base.css" />
<link rel="stylesheet" href="__ADMINCSS__/info-reg.css" />
<title>移动办公自动化系统</title>
</head>

<body>
<div class="title"><h2>信息修改</h2></div>
<form action="{:U('Modify')}" method="post">
    <div class="main">
        <p class="short-input ue-clear">
            <label>部门名称：：</label>
            <input type="text" name="name" value="{$info['dept_name']}" placeholder="部门名称" />
        </p>
        <div class="short-input select ue-clear">
            <label>上级部门：：</label>
            <div class="select-wrap">
                <select name="pid" id="">
                    <option value="0">顶级部门</option>
                    <foreach name="arr" item="val" >
                        <if condition = "$val['dept_pid'] eq 0" >
                            <if condition = "$info['dept_pid'] eq $val['dept_id']" >
                                <option selected value="{$val.dept_id}">{$val.dept_name}</option>
                            <else />
                                <option value="{$val.dept_id}">{$val.dept_name}</option>
                            </if>
                        </if>
                    </foreach>
                </select>
            </div>
        </div>
        <p class="short-input ue-clear">
            <label>深度：</label>
            <input type="text" name="level" value="{$info['dept_level']}" placeholder="深度" />
        </p>
        <p class="short-input ue-clear">
            <label>排序：</label>
            <input type="text" name="sort" value="{$info['dept_sort']}" placeholder="排序" />
        </p>
        <p class="short-input ue-clear">
            <label>备注：</label>
            <textarea name="remark" placeholder="请输入备注" cols="30" rows="10">{$info['dept_remark']}</textarea>
        </p>
        <input type="hidden" name="id" value="{$info['dept_id']}">
    </div>
    <div class="btn ue-clear">
        <a href="javascript:;" class="confirm">确定</a>
        <a href="javascript:;" class="clear">清空内容</a>
    </div>
</form>
</body>
<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>
<script type="text/javascript" src="__ADMINJS__/common.js"></script>
<script type="text/javascript" src="__ADMINJS__/WdatePicker.js"></script>
<script type="text/javascript">
$(".confirm").on("click", function () {
    $("form").submit();
})


$(".select-title").on("click",function(){
	$(".select-list").toggle();
	return false;
});
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(".select-title").find("span").text(txt);
});


showRemind('input[type=text], textarea','placeholder');
</script>
</html>
