
<volist name="list" id="val" >
    <tr>
        <th class="num">{$val['user_id']}</th>
        <th class="name">{$val['user_name']}</th>
        <td class="nickname">{$val['user_nickname']}</th>
        <td class="dept">{$val['user_dept']}</th>
        <td class="role">1</th>
        <td class="sex">{$val['user_sex']}</th>
        <td class="birthday">{$val['user_birthday']}</th>
        <th class="tel">{$val['user_tel']}</th>
        <th class="email">{$val['user_email']}</th>
        <th class="ctime">{$val['user_ctime']}</th>
        <th class="operate">操作</th>
    </tr>
</volist>
